
footer{
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
  color: aliceblue;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  text-align: center;

}
#uno{
  margin-top: 145px;
  margin-bottom: 0px;
}
