* {
  margin: 0;
  padding: 0;
  background-color: #121210;
  color:aliceblue;
}
.row{
  padding: 10px;
}
h2, h3 {
  display: inline;
}
h1{
  margin: 20px;
  margin-left: 70px;
}

@media (max-width: 450px){
  h1 {
    margin-top: 350px;
    margin-left: 5px;
  }
}
.table{
  margin: 10px;
}
