<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/fotoperdil.jpg" class="img-fluid" id="fotodeperfil">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" >
    <h3 id="nombre">{{persona.nombre}} {{persona.apellido}}</h3>

    <p> Full stack Developer jr</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h3>Acerca De Mi</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut possimus maiores odio id nostrum necessitatibus quas nobis optio? Incidunt asperiores suscipit similique soluta nulla cupiditate quas esse nihil, illum eius.</p>
    </span>
  </div>
</div>

