
<div class="row">
  <h1>Hard & Soft skills</h1>
  <div class="text-center col-sm-4 col-sd-4 col-lg-4">
  <circle-progress
    [space]="6"
    [percent]="85"
    [radius]="100"
    [imageSrc]="'../assets/html.png'"
    [imageHeight]="120"
    [imageWidth]="115"
    [showImage]="true"
    [showSubtitle]="false"
    [outerStrokeWidth]="11"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#f8e76f'"
    [innerStrokeColor]="'#f0e38a'"
    [animation]="true"
    [animationDuration]="600" >
  </circle-progress>
  </div>
  <div class=" text-center col-sm-4 col-sd-4 col-lg-4">
    <circle-progress
      [space]="6"
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/css.png'"
      [imageHeight]="130"
      [imageWidth]="120"
      [showImage]="true"
      [showSubtitle]="false"
      [outerStrokeWidth]="11"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#64bdda'"
      [innerStrokeColor]="'#7cbdd1'"
      [animation]="true"
      [animationDuration]="600" >
    </circle-progress>
  </div>
    <div class="text-center col-sm-4 col-sd-4 col-lg-4">
      <circle-progress
        [space]="6"
    [percent]="85"
    [radius]="100"
    [imageSrc]="'../assets/js.png'"
    [imageHeight]="120"
    [imageWidth]="120"
    [showImage]="true"
    [showSubtitle]="false"
    [outerStrokeWidth]="11"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#f362bb'"
    [innerStrokeColor]="'#ef92cb'"
    [animation]="true"
    [animationDuration]="600" >
      </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-sd-4 col-lg-4">
      <circle-progress
        [space]="6"
        [percent]="100"
        [radius]="100"
        [imageSrc]="'../assets/tpgrupo.png'"
        [imageHeight]="80"
        [imageWidth]="120"
        [showImage]="true"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#f8e76f'"
        [innerStrokeColor]="'#f0e38a'"
        [animation]="true"
        [animationDuration]="690" >
      </circle-progress>
      </div>
      <div class="text-center col-sm-4 col-sd-4 col-lg-4">
        <circle-progress
          [space]="6"
          [percent]="85"
          [radius]="100"
          [imageSrc]="'../assets/github.png'"
          [imageHeight]="100"
          [imageWidth]="100"
          [showImage]="true"
          [showSubtitle]="false"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="4"
          [outerStrokeColor]="'#64bdda'"
          [innerStrokeColor]="'#7cbdd1'"
          [animation]="true"
          [animationDuration]="600" >
        </circle-progress>
      </div>
        <div class="text-center col-sm-4 col-sd-4 col-lg-4">
          <circle-progress
            [space]="6"
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/Ingles.png'"
        [imageHeight]="115"
        [imageWidth]="135"
        [showImage]="true"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#f362bb'"
        [innerStrokeColor]="'#ef92cb'"
        [animation]="true"
        [animationDuration]="600" >
          </circle-progress>
        </div>

</div>
